correction/exercice2/__pycache__/demo.cpython-310.pyc
correction/exercice4/beforecookies.png
correction/exercice4/aftercookies.png
correction/exercice4/result.png
demo-selenium/geckodriver.log
demo-selenium/__pycache__/test_test2.cpython-310-pytest-7.1.2.pyc
exercice-5-rpa.md
.gitignore
demo_robot/report.html
demo_robot/geckodriver-2.log
demo_robot/geckodriver-1.log
demo_robot/log.html
demo_robot/output.xml
