correction/exercice2/__pycache__/demo.cpython-310.pyc
correction/exercice4/testSelenium.py
correction/exercice4/beforecookies.png
correction/exercice4/aftercookies.png
correction/exercice4/result.png
demo-selenium/geckodriver.log
